body{
    padding: 0 30px 0 30px;
    background-image: url(portf.png);
    background-repeat: no-repeat;
    background-position: top;
 padding-top: 0 auto ;
padding-top: 0 auto;
}

h1 {
    margin-top: 50px;
    padding-right: 250px;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.inline {
    text-align: center;
    margin-top: 460px;
}

button{
    text-align: center;
    background-color: rgba(151, 180, 255, 0.171);
    border-color: rgb(58, 157, 223);
    backdrop-filter: blur(5px);
    border-radius: 10em;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin-right: 70px;
    margin-left: 70px;
    cursor:pointer;
    color:rgb(0, 0, 0);
    transition: all 0.7s ease-in-out;

}
button:hover{
    backdrop-filter: blur(5px);
background-color: rgba(255, 255, 255, 0.44);
border-color:rgb(255, 255, 255);
color: rgb(58, 68, 255);
}

footer{
    font-family: 'Courier New', Courier, monospace;
    color: #b42f36;
    padding-left: 215px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #b42f36;
}